h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

div {
    background-color: blue;
}

h3 {
    color: aqua;
    background-color: rgb(234, 0, 255)
    letter-spacing: 5px;
}

p {
    position: relative;
    display: inline-block;
    font-size: 10em;
    font-weight: 800;
    color: royalblue;
    overflow: hidden;
    background-color: #ff0000
}
html {
    background-color: #ffe100
}
textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
    color: lawngreen;
    background-color: deepskyblue;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}